<div class="container">
<h1>{{pageTitle}}</h1>
<a class="btn btn-success" routerLink="/AddAthlete/{{id}}">Add New Athlete</a>
<table class='table'>
        <tr>
          <th>Name</th>
          <th>Distance</th> 
          <th>Fitness Rating</th>
        </tr>
        <tr *ngFor="let pd of result" (click)="onClick()">
            <td>{{pd.name}}</td>
            <td>{{pd.distance}}</td>
            <td>{{pd.fitnessRating}}</td>
            <td><a class="btn btn-success" [routerLink]="['/Edit/',pd.testResultId]">Edit</a></td>
        </tr>
</table>
</div>
<div class="container">
  <button class="btn btn-success" (click)="onDelete()">Delete Test</button>
</div>

